<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand">Microsoft Identity Platform</a>
  <div>
    <button *ngIf="!loginDisplay" class="btn btn-secondary" (click)="login()">Sign In</button>
    <button *ngIf="loginDisplay" class="btn btn-secondary" (click)="logout()">Sign Out</button>
  </div>
</nav>
<div class="profileButton">
  <a [routerLink]="['profile']" class="btn btn-secondary" *ngIf="loginDisplay">View Profile</a>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
